<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <servlet>
        <servlet-name>EmployeeListServlet</servlet-name>
        <servlet-class>com.sepanehr.spreadsheets.EmployeeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimesheetEntryServlet</servlet-name>
        <servlet-class>com.sepanehr.spreadsheets.TimesheetEntryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmployeeListServlet</servlet-name>
        <url-pattern>/employeeList.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimesheetEntryServlet</servlet-name>
        <url-pattern>/timesheetEntry.do</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>allresource</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
